.gallery_img_figure {
  margin: 0;
  position: relative;
}

.gallery_img_figure img {
  display: block;
  cursor: zoom-in;
}

.gallery_img_figure figcaption {
  opacity: 0;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 0.85rem;
  text-align: center;
  color: #fff;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  pointer-events: none;
}

.gallery_img_figure:hover figcaption {
  opacity: 1;
}
