.title {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.02em;
}

/**
  Blog post title should be smaller on smaller devices
**/
@media (max-width: 576px) {
  .title {
    font-size: 1.75rem;
  }
}
